<!DOCTYPE html>
<html lang="es" >
  {% load static %}
  <head>
      <meta charset="UTF-8">
      <title>Fundamentos Play </title>
      <link rel="icon" href="{% static 'img/logo.ico' %}">
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link href="{% static 'css/login_signup.css' %}" rel="stylesheet">


  </head>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{% static 'js/login.js' %}"></script>

<body>


    <div class="container ">
            <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Login</div>


                </div>



                <div style="padding-top:30px" class="panel-body" >

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    <form method="post" novalidate>
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="id_username" required="required" type="text" class="form-control" name="username" value="" placeholder="Usuario">
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="id_password"  required="required" type="password" class="form-control" name="password" placeholder="Contraseña">
                        </div>

                  <!--      <div style="float:right; font-size: 80%; position: relative; top:-10px"><a  href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a></div> -->



                        <div class="input-group">

                             {% for message in messages %}
                              <div class="alert {{ message.tags }} alert-dismissible show" role="alert">
                                {{ message }}
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>

                            {% endfor %}


                            <div class="button-container">
                                <button id="entrar" type="submit" class="btn btn-success">Entrar</button>
                                <img id="loading" class="hide" src="{% static 'img/loading.gif' %}" width="30" height="30" border="0">
                            </div>


                            <div class="form-group">
                                <div class="col-md-12 control">
                                    <div  >
                                        <br>
                                         ¿No tienes cuenta?
                                        <a href="{% url 'signup' %}">
                                            Regístrate aquí
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>



                </div>
            </div>
        </div>




</div>


</body>


</html>



<!------ Include the above in your HEAD tag ---------->
