<!DOCTYPE html>
<html lang="es" >
  {% load static %}
  {% load crispy_forms_tags %}

  <head>
      <meta charset="UTF-8">
      <title>Fundamentos Play</title>
      <link rel="icon" href="{% static 'img/favicon.png' %}">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="{% static 'css/login_signup.css' %}" rel="stylesheet">

  </head>

<body>


	<div class="container ">


	<div id="signupbox"  class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-info">
			<div class="panel-heading ">
				<div class="panel-title">Registro</div>
				<div style=""><a id="signinlink" href="{% url 'login' %}">Login</a></div>
			</div>
			<div class="panel-body" >
				 <form method="post" novalidate>

					  <div class="crispyform ">
						{% csrf_token %}
						{{form|crispy}}
					  </div>
						<button type="submit" class="btn btn-success">Registrarse</button>
				 </form>

			</div>
		</div>

	</div>


</div>



</body>


</html>
