{% extends 'FundamentosPlay/teachers/teacher.html' %}
{% load static %}

<!-- Scripts -->
{% block scripts %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<script src="{% static 'js/datatables.js' %}"></script>
{% endblock %}


{% block content %}
<h2 class="mb-3">Mis Estudiantes</h2>

    <div class="card">
        <div class="table-responsive">
            <table id="table" class="table mb-0 display">
                <thead  class="thead thead-light">
                    <tr>
                        <th>Usuario</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                    </tr>
                </thead>
                <tbody>
                  {% for student in students %}
                  <tr>

                      <td class="align-middle"><a href="{% url 'profile' student.username %}">{{ student.username }}</a></td>
                      <td class="align-middle">{{ student.first_name}}</td>
                      <td class="align-middle">{{ student.last_name }}</td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td class="bg-light text-center font-italic" colspan="5">No tiene estudiantes.</td>
                    </tr>
                  {% endfor %}
                </tbody>
          </table>
        </div>


    </div>


{% endblock %}
