{% extends 'FundamentosPlay/teachers/teacher.html' %}
{% load static %}


<!-- Scripts -->
{% block scripts %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<script src="{% static 'js/datatables.js' %}"></script>
{% endblock %}



{% block content %}

  <h2 class="mb-3">Preguntas Por Aprobar</h2>

  <div class="card">
    <table id="table" class="table mb-0 display">
      <thead>
        <tr>
          <th>Contenido</th>
          <th>Nivel</th>
          <th>Dificultad</th>
          <th>Fecha</th>
          <th>Creador</th>
        </tr>
      </thead>
      <tbody>
        {% for question in to_approve %}
          <tr>
            <td class="align-middle"><a href="{% url 'teachers:question_approve' question.pk %}">{{ question}}</a></td>
            <td class="align-middle">{{ question.level}}</td>
            <td class="align-middle">{{ question.Dificultad }}</td>
            <td class="align-middle">{{ question.fecha}}</td>
            <td class="align-middle">{{ question.owner }}</td>

          </tr>
        {% empty %}
        <tr>
          <td class="bg-light text-center font-italic" colspan="12">No tiene preguntas por aprobar.</td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
