{% extends 'FundamentosPlay/teachers/teacher.html' %}
{% load static %}


<!-- Scripts -->
{% block scripts %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<script src="{% static 'js/datatables.js' %}"></script>
{% endblock %}




{% block content %}

<h2 class="mb-3">Estudiantes por Aprobar</h2>

<div class="card table-responsive">
  <table id="table" class="table mb-0 display">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
        <tr>
          <td class="align-middle">{{ student }}</td>
          <td class="align-middle">{{ student.first_name}}</td>
          <td class="align-middle">{{ student.last_name }}</td>
          <td class="text-right">
              <a onclick="showLoading()"  href="{% url 'teachers:student_approve' student.username %}" class="btn "><span class="glyphicon glyphicon-ok"></span></a>
              <a  onclick="showLoading()" href="{% url 'teachers:student_dismiss' student.username %}" class="btn ">❌</a>
          </td>

        </tr>
      {% empty %}
        <tr>
          <td class="bg-light text-center font-italic" colspan="12">No tiene estudiantes por aprobar .</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}
