{% extends 'FundamentosPlay/base_account.html' %}
{% load static %}


<!-- Scripts -->
{% block scripts %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="{% static 'js/profesor.js' %}"></script>
{% endblock %}

{% block dropdown %}
<ul class="nav navbar-nav navbar-right nav-var-username">
    <li class="dropdown">
      <a href="#" id="dropdown_username" class="dropdown-toggle" data-toggle="dropdown">{{user.username}}<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
          <li><a href="{% url 'profile' user.username %}">Perfil</a></li>
          <li><a href="{% url 'salir' %}">Cerrar Sesión</a></li>
      </ul>
    </li>
</ul>

{% endblock %}


<!----- Menu----->
{% block menu %}
<aside>
    <nav class="navbar    col-sm-3 ">
        <section class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </section>
        <section class="collapse navbar-collapse" id="myNavbar">
             <ul class="nav  navbar-nav navbar-vertical-align ">
                <li class="lititle active col-sm-12"><a href="#"><span class="glyphicon glyphicon-list-alt"></span>  Preguntas</a></li>
                <li class="col-sm-12"><a href="{% url 'questions:question_change_list' %}" class="menu-option"><span class="glyphicon glyphicon-list-alt"></span > Mis Preguntas</a></li>
                <li class="col-sm-12"><a href="{% url 'questions:question_filter' 'Borrador' %}" class="menu-option"><span class="glyphicon glyphicon-inbox"></span> Borrador</a></li>
                <li class="col-sm-12"><a href="{% url 'questions:question_add' %}" class="menu-option"><span class="glyphicon glyphicon-plus"></span>  Crear Pregunta </a></li>
                <li class="col-sm-12"><a href="{% url 'questions:question_filter' 'Por Corregir' %}" class="menu-option"><span class="glyphicon glyphicon-pencil"></span>  Corregir Preguntas <span class="badge">{{counts.PC}}</span></a></li>
                <li class="col-sm-12"><a href="{% url 'teachers:to_approve_list' %}" class="menu-option"><span class="glyphicon glyphicon-ok"></span> Aprobar Preguntas<span class="badge">{{counts.questionsPA}}</span></a></li>

            </ul>

            <ul class="nav navbar-nav navbar-vertical-align">
                <li class="lititle active col-sm-12" ><a href="#"><span class="glyphicon glyphicon-user"></span>  Estudiantes</a></li>
                <li class="col-sm-12"><a href="{% url 'teachers:my_students' %}" class="menu-option"><span class="glyphicon glyphicon-user"></span>  Mis Estudiantes</a></li>
                <li class="col-sm-12"><a href="{% url 'teachers:students_approve_list' %}" class="menu-option"><span class="glyphicon glyphicon-ok"></span>  Aprobar Estudiantes<span class="badge">{{counts.usersPA}}</span></a></li>
            </ul>
           <!---
            <ul class="nav navbar-nav navbar-vertical-align">
                <li class=" lititle active col-sm-12"><a href="#"><span class="glyphicon glyphicon-stats"></span>  Estadísitcas</a></li>
                <li class="col-sm-12"><a href="#" class="menu-option"><span class="glyphicon glyphicon-stats"></span>  Mis Estadísticas</a></li>
                <li class="col-sm-12"><a href="#" class="menu-option"><span class="glyphicon glyphicon-stats"></span>  Estadísticas de Estudiantes</a></li>
                <li class="col-sm-12"><a href="#" class="menu-option"><span class="glyphicon glyphicon-stats"></span>  Estadísticas de Niveles</a></li>
            </ul>
            --->
        </section>
    </nav>
</aside>

{% endblock %}


<!-- contenido---->
{% block content %}
{% endblock %}

