<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Fundamentos Play</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/logo.ico' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block styles %}
    {% endblock %}




    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/form.js' %}"></script>


</head>

<body background="{% static 'img/background.png' %}">

    <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <!-- Navbar brand -->
            <a class="navbar-brand" href="{% url 'home' %}">
                <img id="espolimg" src="{% static 'img/mascotaLogo.png' %}" alt="espolLogo"> Fundamentos Play
            </a>
            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% block inicio %}{% endblock %}">
                        <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                    </li>

                    <li class="nav-item {% block descarga %}{% endblock %}">
                        <a class="nav-link" href="{% url 'descarga' %}">Descarga</a>
                    </li>

                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" id="login" href="{% url 'login' %}">
                            Ingresar
                            <i class="fa fa-user">
                            </i>
                        </a>
                    </li>
                </ul>
                <!-- Links -->
            </div>
            <!-- Collapsible content -->
        </nav>
        <!--/.Navbar-->


        {% block banner %}
        {% endblock %}



    </header>


    {% block content %}
    {% endblock %}


    <!--Modal: Contact Form-->
    <div class="modal fade" id="modalContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form action="{% url 'sendMail' %}" method="POST" accept-charset="utf-8">
            {% csrf_token %}
            <div class="modal-dialog cascading-modal" role="document">
                <!--Content-->
                <div class="modal-content">

                    <!--Header-->
                    <div class="modal-header modalTheme white-text">
                        <h4 class="title"><i class="fa fa-pencil"></i> Contáctanos</h4>
                        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <div class="md-form form-sm">
                            <i class="fa fa-envelope prefix"></i>
                            <input type="text" id="form30" class="form-control" name="from">
                            <label for="form30"></label>
                        </div>

                        <div class="md-form form-sm">
                            <i class="fa fa-tag prefix"></i>
                            <input type="text" id="form21" class="form-control" name="asunto">
                            <label for="form21"></label>
                        </div>

                        <div class="md-form form-sm">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea type="text" id="form8" class="md-textarea mb-0" name="mensaje"></textarea>
                            <label for="form8">Mensaje</label>
                        </div>

                        <div class="text-center mt-2">
                            <button class="btn btn-info" type="submit">Enviar <i class="fa fa-send ml-1"></i></button>
                        </div>

                    </div>

                </div>
                <!--/.Content-->
            </div>
        </form>
    </div>
    <!--Modal: Contact Form-->


    <!--Footer-->
    <footer class="col-12 page-footer unique-color-dark center-on-small-only p-0 m-0">

        <!--Footer Links-->
        <div class="container">

            <!--Grid row-->
            <div class="row d-flex text-center justify-content-center  mb-2">

                <!--Grid column-->
                <div class="col-md-8 col-12 mt-5">
                    <p id="disclaimer">Fundamentos Play<br>Todos los derechos reservados. <br>Prohibida su reproducción total o parcial, comunicación pública o distribución sin autorización previa del titular de los derechos.</p>

                </div>
                <!--Grid column-->

            </div>


        </div>
        <!--/Footer Links-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2017 Copyright: <a id="copyright" href="{% url 'home' %}"> Fundamentos Play </a>
            </div>
        </div>
        <!--/Copyright-->

    </footer>
    <!--/Footer-->


    {% block scripts %}
    {% endblock %}

</body>

</html>
