<!DOCTYPE html>
{% load static %}
<html class="no-js" >
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Fundamentos Play</title>
        <link rel="icon" href="{% static 'img/logo.ico' %}">
        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base_account.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/questions.css' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
		{% block styles %}
		{% endblock %}


    </head>

    <body>

		<div class="navbar navbar-expand-lg header col-md-12 col-sm-12 col-xs-12">


                 <div class="col-lg-1 col-sm-1">
                    <a href="#"><img   src="{% static 'img/mascotaLogo.png' %}" alt="EspolLogo"  /></a>
                </div>
                <div class="col-lg-7 col-sm-7">
                    <h1 class="logo"><a href="{% url 'home' %}"> Fundamentos Play</a></h1>

                </div>
                <div class="col-lg-4 col-sm-4">
                    {% block dropdown %} {% endblock %}
                </div>

        </div>


        {% block menu %}{% endblock %}


		<section class="principal container  col-sm-9">
			{% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                </div>
			{% endfor %}
            <div id="loading_div" class="col-lg-12 col-sm-12">
                <img id="loading" class="invisible" src="{% static 'img/loading.gif' %}" width="30" height="30" border="0">
            </div>

			{% block content %}

			{% endblock %}

		</section>


        <!-- Javascript -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{% static 'js/base_account.js' %}"></script>
        {% block scripts %}
		{% endblock %}







    </body>
</html>
