{% extends 'FundamentosPlay/base_fp.html' %}
{% load static %}

{% block styles %}
<link href="{% static 'css/common.css' %}" rel="stylesheet">
<link href="{% static 'css/descarga.css' %}" rel="stylesheet">
{% endblock %}

{% block descarga %}
active
{% endblock %}

{% block content %}
<div class="container-fluid contenedorjumbotron">
	<div class="row">
		<div class="jumbotron">
			<p class="lead justificar">
				Accede a FundamentosPlay desde tu teléfono con la aplicación y disfruta de una mejor experiencia. 
				se puede descargar GRATIS en la mayoría de los dispositivos inteligentes; la aplicación FundamentosPlay conecta tu perfil 
				y te permite continuar con tu progreso. ¡Fácil y divertida! mantente conectado y sobre todo, no dejes de APRENDER.
			</p>
			<hr class="my-4">
			<p>Aplicación disponible para Android. Se recomienda conexión a internet acceder a todas las funciones.</p>
			<p class="d-flex flex-row-reverse">
				<a class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/1VqXN0IbuJgkgQ6VX6WQKxL_10GDP-I4R/view?usp=sharing" role="button">Descargar</a>
			</p>
		</div>
	</div>
</div>

<!-- Galeria - LightBox -->

<div class="row" id="thumbnails">
	
</div>

<div id="myModal" class="modal">
	<span class="close cursor" onclick="closeModal()">&times;</span>
	<div class="modal-content" id="idContent">

	</div>
</div>

<div class="container-fluid">
	<div class="contenedor1 mt-0 mb-1">
		<div class="row">
			<div class="col-md-6">
				<h3 class="descarga-subtitulo">Ingresa a tu cuenta!</h3>
				<div class="cont-imagen">
					<img class="w-75" id="screenshots" src="{% static 'img/captures/juego_3.png' %}" alt="ejemplo 1">
				</div>
				<p class="descarga-texto">
					Maneja tu perfil y revisa tus estadísticas para mejorar tu desempeño.
				</p>
			</div>

			<div class="col-md-6">
					<h3 class="descarga-subtitulo">Supera todos los niveles</h3>
					<div class="cont-imagen">
						<img class="w-75" id="screenshots" src="{% static 'img/captures/juego_2.png' %}" alt="ejemplo 2">
					</div>
					<p class="descarga-texto">
						Pon a prueba tus conocimientos.
					</p>
					
				</div>
			<!--
			<div class="col-md-4 col-xs-6">
				
			</div>
			-->
		</div>
	</div>
	
	<div class="contenedor1 mt-0 mb-1">
		<div class="row">
			
			<!--
			<div class="col-md-4 col-xs-6">
				
			</div>
		-->
		</div>
	</div>
	
</div>
{% endblock %}
