{% extends 'FundamentosPlay/base_fp.html' %}
{% load static %}

{% block styles %}
<link href="{% static 'css/inicio.css' %}" rel="stylesheet">
<link href="{% static 'css/leader.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <header >
        <img id="robot" src="{% static 'img/robot.png' %}" alt="Logo">
        <img id="banner" class="img-responsive" src="{% static 'img/fplogo2.png' %}" alt="logo">
         <img id="drone" src="{% static 'img/mascotaLogo.png' %}" alt="Logo">
    </header>

    <section  >
        <article class="col-sm-12 row" >

            <section class="col-sm-4">

                <aside  style="background: url('{% static 'img/sectionbackground.png' %}') 100% 0 no-repeat;">
                    <section class="col-sm-12" id="leaderboard" >
                        <h2 class="leaderboardtitle">LeaderBoard</h2>
                      {% for leader in leaders %}
                          <div class="row" id="player">
                                <div class="col-sm-3 item-center pt-3">
                                      <img class="rounded-circle" id="imgLeader" alt="imgundefined" src="http://www.top-madagascar.com/assets/images/admin/user-admin.png">

                                </div>
                                <div class="col-sm-8 align-self-center">
                                      <h4 class="name">Nivel {{leader.nivel}}</h4>
                                      <h4 class="name">{{leader.userid}}</h4>
                                      <h4 class="tiempo">{{leader.getTiempo}} seg</h4>
                                </div>
                          </div>
                          {% endfor %}
                    </section>
                </aside>

            </section>
            <section class="col-sm-8">
                <section class="imagesection" style="background: url('{% static 'img/sectionbackground.png' %}')  no-repeat; background-size: 100%;  ">




                    <div class="message">
                        <p class="mensaje">
                                Fundamentos Play es un juego de preguntas y respuestas destinado a los estudiantes de la materia Fundamentos de Programación con el fin de ayudar didácticamente al aprendizaje.
                        </p>
                        <p class="mensaje">
                                Este portal web contiene información recopilada del juego como la tabla de posiciones en la que se destaca al primer lugar de cada uno de los 9 niveles que contiene el juego. Desde el mismo se podrá ingresar con las mismas credenciales del juego para poder ver sus avances.
                        </p>
                    </div>

                    <div class="row">

                        <div class="col-sm-5 message" id="medallas">
                            <h3 class="mensaje">
                                    Pon a prueba tus conocimientos y gana tus medallas.
                                </h3>
                            <div class="row">

                                <div class="col-sm-4">
                                    <img class="medalla " src="{% static 'img/medallaPlata.png' %}" alt="espolLogo">
                                </div>
                                <div class="col-sm-4">
                                    <img class="medalla " src="{% static 'img/medallaBronce.png' %}" alt="espolLogo">
                                </div>
                                <div class="col-sm-4">
                                    <img class="medalla " src="{% static 'img/medallaOro.png' %}" alt="espolLogo">
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-5 message" id="dificultad">
                            <h3 class="mensaje">
                                    Demuestra tu verdadero potencial en cada dificultad.
                                </h3>
                            <div class="row">

                                <div class="col-sm-4">
                                    <img class="dificultad " src="{% static 'img/facil.png' %}" >
                                </div>
                                <div class="col-sm-4">
                                    <img class="dificultad " src="{% static 'img/medio.png' %}" >
                                </div>
                                <div class="col-sm-4">
                                      <img class="dificultad " src="{% static 'img/dificil.png' %}" >
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 message" id="capturas">
                        <h3 class="mensaje"> ¿Qué esperas para empezar a jugar?.  Demuestra que eres el mejor. </h3>
                        <br>
                            <div class="row">

                                <div class="col-sm-4">
                                    <img class="gameimg " src="{% static 'img/captures/bienvenida.png' %}" >
                                </div>
                                <div class="col-sm-4">
                                    <img class="gameimg " src="{% static 'img/captures/niveles.png' %}" >
                                </div>
                                <div class="col-sm-4">
                                    <img class="gameimg " src="{% static 'img/captures/leaderboard.png' %}" >
                                </div>


                            </div>
                        </div>




                </section>


            </section>


        </article>

    </section>



{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/fplay.js' %}"></script>
{% endblock %}
