{% extends 'FundamentosPlay/base_fp.html' %}
{% load static %}

{% block styles %}
<link href="{% static 'css/leader.css' %}" rel="stylesheet">
<link href="{% static 'css/common.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
{% endblock %}



{% block content %}
<br><br>
<div id="headingContainer" class="panel-heading">
      <h3 id="panel-title">Leaderboard</h3>
</div>
<br><br>

<div class="col-sm-3 p-0" id="leaderboard">
      {% for leader in leaders %}
      <div class="d-flex justify-content-around p-0" id="player">
            <div class="col-sm-3 item-center pt-3">
                  <img class="rounded-circle" id="imgLeader" alt="imgundefined" src="http://www.top-madagascar.com/assets/images/admin/user-admin.png">
                  <div class="overlay">
                        <div class="text">NIVEL {{leader.nivel}}</div>
                  </div>
            </div>
            <div class="col-sm-8 align-self-center">
                  <h3 class="name">{{leader.userid}}</h3>
                  <div class="d-flex">
                        <h4 class="col-sm-8 tiempo">Tiempo: {{leader.tiempo}}</h4>
                  </div>
            </div>
      </div>
      {% endfor %}
</div>
{% endblock %}

