{% extends tipo %}
{% load static %}
{% load crispy_forms_tags %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}


<!-- Scripts -->
{% block scripts %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="{% static 'js/d3.v3.min.js' %}"></script>
<script src="{% static 'js/liquidFillGauge.js' %}"></script>
<script src="{% static 'js/estadisticas.js' %}"></script>
<script src="{% static 'js/profile.js' %}"></script>


{% endblock %}


{% block dropdown %}
<ul class="nav navbar-nav navbar-right nav-var-username">
    <li class="dropdown">
      <a href="#" id="dropdown_username" class="dropdown-toggle" data-toggle="dropdown">{{user.username}}<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
          <li><a href="{% url 'profile' user.username %}">Perfil</a></li>
          <li><a href="{% url 'salir' %}">Cerrar Sesión</a></li>
      </ul>
    </li>
</ul>
{% endblock %}


<!-- content -->
{% block content %}
{% if user.is_admin  or user.is_teacher %}
    <section class="container col-sm-12">
         <div class=" container  col-sm-4">

            {% if usuario.is_active %}
                <a href="{% url 'user_delete' usuario.pk %}" class="btn btn-danger float-left">Deshabilitar</a>
            {% else %}
                 <a href="{% url 'user_active' usuario.pk %}" class="btn btn-success float-left">Habilitar</a>
             {% endif %}
        </div>
        <div class=" container  col-sm-4">
             <a id="passwordbutton" href="#" class="btn btn-info float-left">Cambiar Contrasena</a>

        </div>


        <div class=" container  col-sm-3">
             <form method="post" id="form" name="form" action="{% url 'edit_rol' usuario.pk %}"  >
              {% csrf_token %}
                {{form|crispy}}
              </form>
        </div>

        <div class=" container  col-sm-1">
            <button form="form" type="submit" class="btn btn-primary" >Cambiar Rol</button>
        </div>
    </section>
{% else %}
    <section class="container col-sm-12">

        <div class=" container  col-sm-4">
             <a id="passwordbutton" href="#" class="btn btn-info float-left">Cambiar Contrasena</a>

        </div>

    </section>

{% endif %}

<section id="passwordsection" class="container col-sm-12 hide" >

    <div class=" container  col-sm-12">
         <form id="passwordform" method="post"  name="form" action="{% url 'edit_user_password' usuario.username %}"  >
          {% csrf_token %}
            {{passwordform|crispy}}
          </form>
    </div>

    <div class=" container  col-sm-1">
        <button form="passwordform" type="submit" class="btn btn-primary" >Cambiar</button>
    </div>
</section>


<section class="container col-sm-12">




    <section class=" container  col-sm-6 " >
         <div class=" container  col-sm-6">
             <h3 class="userinfo ">Datos</h3>
             <br><br>
             <h5 class="userinfo " id="user_username"><span class="glyphicon glyphicon-user"></span>{{ usuario.username}} </h5>
             <h5 class="userinfo "><span class="glyphicon glyphicon-user"></span>{{ usuario.first_name}}  {{ usuario.last_name }}</h5>
             <h5 class="userinfo"><span class="glyphicon glyphicon-envelope"></span>{{ usuario.email}}</h5>
         </div>
        <div class=" container  col-sm-6">
            <h3 class="userinfo ">Progreso</h3>
            <br><br>
            <div class="progressType">
                <svg id="fillgauge1" width="70%" height="150"></svg>
            </div>
         </div>
    </section>

    <section class=" container  col-sm-6 ">
        <h3 class="userinfo">Medallas</h3>
        <table class="table  progressSection">
        <tr>
          <th></th>
          <th scope="col">Fácil</th>
          <th scope="col">Medio</th>
          <th scope="col">Difícil</th>
        </tr>
        {% for ficha in fichas %}
         {% if ficha.medallaPrincipiante %}
             <tr>
          <th scope="row">Nivel {{ficha.nivel}}</th>
          {% if ficha.medallaPrincipiante %}
          <td>
            <a href="#"><img class="medalla" src="{% static 'img/medallaPlata.png' %}" alt="Medalla Plata"  /></a>
          </td>
          {% else %}
          <td></td>
          {% endif %}

          {% if ficha.medallaIntermedio %}
          <td>
              <a href="#"><img class="medalla" src="{% static 'img/medallaBronce.png' %}" alt="Medalla Bronce"  /></a>
          </td>
          {% else %}
          <td></td>
          {% endif %}

          {% if ficha.medallaExperto  %}
          <td>
              <a href="#"><img class="medalla" src="{% static 'img/medallaOro.png' %}" alt="Medalla Oro"  /></a>
          </td>
          {% else %}
          <td></td>
          {% endif %}
        </tr>
         {% endif %}
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">Aún no posee medallas.</td>
          </tr>
        {% endfor %}


      </table>

    </section>
</section>


<section  class="container  col-sm-12 ">
    <div id='bien' class="grafico">
        <h3 class="progressType">Preguntas correctas por nivel y dificultad</h3>
        <center><h4 class="not_answers_message hide"> Aún no ha respondido preguntas</h4></center>
    </div>
    <div id='mal' class = "grafico">
        <h3 class="progressType">Preguntas incorrectas por nivel y dificultad</h3>
        <center><h4 class="not_answers_message"> Aún no ha respondido preguntas</h4></center>
    </div>

</section>




{% endblock %}