{% extends tipo %}
{% load crispy_forms_tags %}
{% load static %}

{% block scripts %}
<script src="{% static 'js/profesor.js' %}"></script>
<script src="{% static 'js/question.js' %}"></script>


{% endblock %}



{% block content %}


  <h2 class="mb-3">Cree un nueva Pregunta</h2>
  <form method="post" action="{% url 'questions:question_add' %}" id="form" name="question" enctype="multipart/form-data">
  {% csrf_token %}
    {{ formset.management_form }}
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <i class="icon-calendar"></i>
              <h3 class="panel-title">Información</h3>
            </div>
            <br>
            <div class="col-lg-6 col-sm-6">
                  <div class="input-group"  data-tip="Nivel de la pregunta">
                     <span title="Nivel a la que corresponde la pregunta" class="input-group-addon">Nivel</span>
                    {{ form.level|as_crispy_field }}
                  </div>
            </div>
             <div class="col-lg-6 col-sm-6">
                <div class="input-group " data-tip="Tiempo en que deben contestar la pregunta">
                  <span title="Tiempo que durará la pregunta" class="input-group-addon">Tiempo</span>
                  {{ form.tiempo|as_crispy_field }}
                  <span class="input-group-addon">seg</span>
                </div>
              </div>
            <br><br>
            <div class="panel-body">

              <div class="input-group input-group-sm"  data-tip="Dificultad que tendrá la pregunta">
                <span title="Dificultad la pregunta" class="input-group-addon">Dificultad</span>
                {{ form.Dificultad|as_crispy_field }}
              </div>


            </div>
             <div class="panel-body">
                <div class="input-group input-group-sm">
                  <span title="Profesor que aprobará su preguntax" class="input-group-addon">Profesor</span>
                  {{ form.revisor|as_crispy_field }}
                </div>
                <br>
              </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default">

            <div class="panel-heading clearfix">
                <i class="icon-calendar"></i>
                <h3 class="panel-title">Imagen</h3>

            </div>

            <br>
            <div class="col-lg-6 col-sm-6">
                <div class="input-group">
                  <div class="input-group input-group-sm">
                        {{ form.Imagen |as_crispy_field }}
                  </div>

                </div>
                {% if question.image %}
                <div class="input-group">
                    <span class="input-group-addon">URL</span>
                    <a target="_blank"  href="{{question.image}}">{{question.image}}</a>
                </div>
                {% endif %}
            </div>
            <br>
            {% if question.image %}
            <div class="panel-body">
                <div class="col-lg-6 col-sm-6">
                    <img id="question_image" src="{{question.image}}" >
                </div>
              </div>
            {% endif %}


            <br><br>




        </div>
      </div>
    </div>




    <!-- Row start -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <i class="icon-calendar"></i>
            <h3 class="panel-title">Contenido</h3>
          </div>

          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12 col-sm-12">
                <div class="form-group">
                   {{ form.text|as_crispy_field }}
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <i class="icon-calendar"></i>
            <h3 class="panel-title">Respuestas</h3>
            <span class="help-block">- Debe haber al menos una respuesta correcta.</span>
            <span class="help-block">- Toda respuesta incorrecta debe tener un retroalimentación.</span>
            <img alt="agregar otra respuesta"  title="Agregar otra respuesta" id="add_button" src="http://macalculatrice.fr/images/plus.png" style="; width:3% ; height: 3%; float:right; clear:right;">


          </div>

          <div class="panel-body respuestas_box ">
             {% for error in formset.non_form_errors %}
              <div class="card-body bg-danger border-danger text-white py-2">{{ error }}</div>
            {% endfor %}
            <div class="row ">
              <div class="col-sm-1  ">
                <div class="input-group ">
                    <span class="input-group-addon">Correcta</span>
                </div>
              </div>
              <div class="col-sm-5  ">
                <div class="input-group ">
                    <span class="input-group-addon">Respuesta</span>
                </div>
              </div>
              <div class="col-sm-5  ">
                <div class="input-group ">
                    <span class="input-group-addon">Retroalimentación</span>
                </div>
              </div>

            </div>
            <br>

            {% for form in formset %}
                  {% if forloop.counter < 3 %}
                    <div class="row row-{{forloop.counter}}">
                        <div class="col-sm-1  ">
                          <div class="input-group centered ">
                              {{ form.is_correct|as_crispy_field }}
                          </div>
                        </div>
                        <div class="col-lg-5 col-sm-5 col-sx-5">
                          <div class="form-group">
                               {{ form.text|as_crispy_field }}
                          </div>
                        </div>

                        <div class="col-lg-5 col-sm-5 col-sx-5">
                          <div class="form-group">
                              {{ form.retroalimentacion|as_crispy_field }}
                          </div>
                        </div>


                     </div>
                  {% elif forloop.counter >= 3  %}
                      <div class="row row-{{forloop.counter}} hide">
                        <div class="col-sm-1  ">
                          <div class="input-group ">
                              {{ form.is_correct|as_crispy_field }}
                          </div>
                        </div>
                        <div class="col-lg-5 col-sm-5 col-sx-5">
                          <div class="form-group">
                               {{ form.text|as_crispy_field }}
                          </div>
                        </div>

                        <div class="col-lg-5 col-sm-5 col-sx-5">
                          <div class="form-group">
                              {{ form.retroalimentacion|as_crispy_field }}
                          </div>
                        </div>

                        <img title ={{forloop.counter}} class='col-sm-1 deletebutton' alt='borrar respuesta'  src='https://image.flaticon.com/icons/svg/61/61848.svg' style='width:5% ; height: 5%; display:block; margin:auto;'>

                     </div>
                  {% endif %}
            {% endfor %}



          </div>



        </div>


      </div>

    </div>
     <button title="Enviar pregunta a profesor" type="submit" class="btn btn-primary" style="float: right;">Enviar</button>
  </form>

  <button title="Guardar pregunta en borradores para enviar luego" type="button" id="save_nueva" class="btn btn-default">Guardar</button>


{% endblock %}










