@import url('https://fonts.googleapis.com/css?family=Marmelad:400');

html {
  overflow-y: scroll;
}


body {
    font-family: 'Marmelad', sans-serif !important;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    


}

.header {
	height: 100px;
	background-color:  #014d9e;
	margin-bottom:20px;

}

.logo a {
  color: white;
  text-decoration: none;
}

/* dropdown menu */
.dropdown-toggle{
	margin-top: 30px;
	color : white;
}

#dropdown_username:focus, #dropdown_username:hover {
    text-decoration: none;
    background-color: #014d9e;

}
/* dropdown menu */

.invalid-feedback{
	color: red;
}

div div a img {
	margin: 5px 2px 5px 5px;
    border: 0;
    height: 5.2em;
    vertical-align: middle;


}


.principal{
		margin-bottom: 30px;
}



.lititle.active{
	pointer-events:none;
	background-color:#014d9e;
}

.lititle.active *{
    color:white;
	text-align:center;
	height:50%;

}
.icon-bar{
		background-color:#014d9e;
}



h2{
		text-align:center;
}

.tag{
    margin-right:50px;
    display:inline;
}

.badge-tire{
    text-align:center;
}
.invisible{
    visibility:hidden;

}

#loading_div{
     width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}
@media (max-width: 700px){

    .logo a , div div a img {
        display:none;
    }
    .navbar-header {
        width: 70px;
    }
    .navbar{
        width: 400px;
    }

    /* dropdown menu */
    .dropdown-toggle{
        float : right;
    }



}