.banner {
	height: 100px;
}

#title {
	color: #0B173B;
	margin-top: 0px;
	margin-left: 10%;
	margin-bottom: 0px;
	padding-top: 0.8em;
}

img.logo {
	height: 120px;
	margin-left: 2%;
}

h2#title-faq {
	margin-top: 0.9em;
	margin-left: 10%;
	font-size: 3em;
	text-shadow: 1px 1px 1px grey;
}

/* Responsivo */
@media (max-width: 640px){
	#title {
		font-size: 1.6em;
	}

	.navbar-brand {
	    font-size: 1.1rem;
	}

	#title-faq {
		font-size: 2.3em !important;
		margin-top: 0.1em !important;
	}

	.logo {
		display: none;
	}

	h4 {
	    font-size: 1.3rem !important;
	}
}

@media (max-width: 460px){

    #barraBuscar {
        display: none;
    }

    #title-faq {
        font-size: 2.1em !important;
    }

    h3 {
        font-size: 1.5rem !important;
    }

    h4 {
        font-size: 1.1rem !important;
    }
}

@media (max-width: 320px){

    .navbar-brand {
        font-size: 1rem !important;
    }

    #title-faq {
        font-size: 1.8em !important;
    }

}