/*descarga*/
.jumbotron {
	margin: 0 auto;
	width: 90%;
	background-color: #f4fbff;
	border-style: solid;
    border-width: 1px;
}

.contenedorjumbotron {
	margin-top: 10px;
	margin-bottom: 10px;
}

.banner {

	height: 100px;
}

.cont-imagen {
	text-align: center;
}

img#screenshots {
	max-width: 50%;
	margin-bottom: 5%;
}

div.contenedor1 {
	margin: 0 12%;
}

h3.descarga-subtitulo {
	margin: 5% 0;
	text-align: center;
}

p.descarga-texto {
	margin: 0 5%;
	margin-bottom: 10%;
	text-align: justify;
}

p.justificar {
	text-align: justify;
	font-size: 1rem;
}