

#mascotaLogo{
	/*width:30%;*/
	padding:0;
	height: 300px;
	float:left;
	clear:both;
    top: 80px;
    left: 500px;
	position: absolute;
}

#banner{

	max-width: 100%;
    height: auto;
}


.message{
	font-size: 1.1em;
	margin: 3% 5% 1% 3%;
    padding: 2% 2%;
	text-align:center;
	background-color: rgba(255,255,255,0.7);
	border:1px solid #0040FF;
	border-radius: 40px 40px 40px 5px;
	height: 100%;
}

#drone{
	border:0;
	height: 11.2em;
	vertical-align:right;
	float:right;
}
#robot {
	border:0;
	height: 11.2em;
	vertical-align:right;
	float:left;
}


.medalla, .dificultad{
    max-width: 100%;
    height: auto;
}

.gameimg{
     max-width: 100%;
    height: auto;

}


/* Responsivo */
@media (max-width: 570px){
	#drone, #robot{
		display: none;
	}


    .medalla, .dificultad{
        width: 5em;
        height: 7em;
    }
    .navbar-brand {
	    font-size: 1.1rem;
	}

	#content {
		height: 230px;
	}

	#titulo {
		font-size: 2.5em;
	}

	.mensaje {
	    font-size: 1em;
	}
}

@media (max-width: 460px){

	#content {
		height: 230px;
	}

	#androidSLogo {
        width: 10em;
    }

	#titulo {
		font-size: 1.8em;
	}

	.mensaje {
	    font-size: 0.94em;
	}

	#name {
	    font-size: 1.8rem;
	}
}

@media (max-width: 320px){

	#content {
		height: 230px;
	}

	#androidSLogo {
        width: 9em;
    }

    .navbar-brand {
        font-size: 1rem;
    }

	#titulo {
		font-size: 1.5em;
	}

	.mensaje {
	    font-size: 0.9em;
	}

	#name {
	    font-size: 1.6rem;
	}
}
