.banner {
	height: 100px;
}

body {
	overflow: auto;
}

#pagina {
	text-align: center;
}

#imgLeader {
	width: 75px;
	height: 75px;
}

.name {
  font-size: 1.5em;
}

#leaderboard {
	box-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
    padding: 2% 5%;
	text-align:center;
	background-color: rgba(255,255,255,0.7);
	border:1px solid #0040FF;
	border-radius: 2px;
}

/*
.container, #player, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-7, .col-sm-8 {
	border: 1px solid #000000;
}*/

#player {
	padding-left: 10%;
	padding-right: 10%;
	border-bottom: 1px solid #666666;
	background-color: white;
	height: 103px;
}

#player:hover {
	opacity: 1;
	background-color: #ffffff;
}

.milky, .dias {
  text-transform: uppercase;
  font-size: 1.2em;
  color: #555555;
  /*text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;*/
  font-weight: bold;
  letter-spacing: -1px;
  text-align: left;
  /*background: linear-gradient(to bottom, #ece4d9 0%,#e9dfd1 100%);*/
  border-radius: 20px;
}

.overlay {
  position: absolute;
  padding: 0;
  left: 0;
  top: 0;
  background-color: #0B173B;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

#player:hover .overlay {
  bottom: 0;
  width: 100%;
  cursor:pointer;
}
.panel-heading {
  background-color: $fcc-brown;
  color: $fcc-gray;
  border-bottom: none;
  text-align: center;
  padding-bottom: 0;
}
.text {
  white-space: nowrap;
  color: white;
  font-size: 1.2em;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.item-center {
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	height: 100%;
}

.dias, .tiempo{
	font-size: 1.2em;
}

.dias, .tiempo {
	color: #999999;
}

/* Responsivo */
@media (max-width: 700px){


    .name {
        font-size: 1.3em;
    }

    .dias, .tiempo{
    	font-size: 0.5em;
    }

}


@media (max-width: 320px){

    .name {
        font-size: 1.1em;
    }

    .dias, .tiempo{
    	font-size: 1em;
    }
}