body{
    background-image: url("/static/img/mascotaLogox.png");
    background-color: #0a89cc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;


}

.crispyform .invalid-feedback {
  color: #ff0000;
}

#signinlink, loginlink{
    float:right; font-size: 85%; position: relative; top:-10px;
    color:white;
}



#signupbox , loginbox{
margin-top:50px

}

.panel-body{
    padding-top:30px
}

.panel-info>.panel-heading {
    color: white;
    background-color: #014d9e;
    border-color: #bce8f1;
}

.hide{
    display:none;

}