/*Estadisticas*/
path {  stroke: #fff; }
path:hover {  opacity:0.9; }
rect:hover {  fill:blue; }
.axis {  font: 10px sans-serif; }
.legend tr{    border-bottom:1px solid grey; }
.legend tr:first-child{    border-top:1px solid grey; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {  display: none; }
.legend{
    margin-bottom:76px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
.legend td{
    padding:4px 5px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc{
    align:right;
    width:50px;
}


.bubbleChart {
  min-width: 100px;
  max-width: 700px;
  height: 700px;
  margin: 0 auto;
}
.bubbleChart svg{
  background: #000000;
}

.liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }



.userinfo{
    text-align:center;

}


.medalla{
    max-width: 70%;
    max-height: 50em;
    margin: 0 auto;
    padding:10px;
}

.progressSection,#bien,#mal{
    margin-left:auto;
    margin-right:auto;

}

#perfil{
  margin: 0 auto;
  overflow: hidden;
  background-color: white;
}


.datosbox {
	width: 96.5%;
	padding-top: 2em;
	display: flex;
	justify-content: center;
}

.profile_image, .user_detail {
    margin: 2em;
}


.progressType{
    text-align:center;
}




.medallasbox{
    border-left: 1px solid black;
}

.hide{
    display:none;

}