#observacionArea{
    width: 100%;
}

.delete{
    float:right;
}

#dismiss{
    float:left;
}

thead {
    display: table-header-group;
}

.centered{
    float: none;
    margin: 0 auto;
}






.danger{
    border: 1px solid red;

}

.hide, .delete_check{
    display:none;

}

#question_image{
    height : 96px;
    width:  90px;
    float: right;
    border: 1px solid gray;

}