@import url('https://fonts.googleapis.com/css?family=Marmelad:400');

*,
*:before,
*:after {
  box-sizing: inherit;
}
header{
	idth:100%;
	text-align:center;
}
html {
  height: 100%;
  box-sizing: border-box;
}





body {
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
	background-color: #CEECF5 !important;
	font-family: 'Marmelad', sans-serif !important;
	height:100%;
}

* {
    box-sizing: border-box;
}

.engine {
	display: none;
}
aside{
	padding: 16%;
}

.imagesection{
	padding: 6% 6% 6% 6%;
}
/* Estilo del navbar */
.navbar, .modalTheme{
	background-color: #014d9e;
	margin-bottom: 0px;
	font-size: 0.9em;
}

.top-nav-collapse {
	background-color: rgba(11, 23, 59, 0.9);
}


.activa a {
	text-decoration: underline;
	color: white !important;
}

.nav a:hover{
	text-decoration: underline !important;
}

.navbar-collapse, #footer {
	text-align: center;
}

ul, li, .nav, li * {
	vertical-align: middle !important;
	padding-top: 0.3%;
}

#espolimg{
	border:0;
	height: 2.2em;
	vertical-align:middle;
}


/* Titulo de la aplicacion mostrado en el banner */
#titulo{
	font-size:2.8em;
	text-align:center;
	color:#0B173B;
	margin: 0px;
	padding-top:2em;
	padding-bottom:0.5em;
}

.center {
	text-align: center;
	display: block;
}

#footer {
	background-color: #014d9e !important;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
}


.item-center {
	text-align: center;
}

/* Estilo mapa */
#map {
	height: 500px;
}

#disclaimer, #copyright{
	font-size: 70%;
}



/* Responsivo */
@media (max-width: 940px){




    #banner{
        display:none;
    }
}

