{% extends 'FundamentosPlay/base_account.html' %}
{% load static %}



{% block dropdown %}
<ul class="nav navbar-nav navbar-right nav-var-username">
    <li class="dropdown">
      <a href="#" id="dropdown_username" class="dropdown-toggle" data-toggle="dropdown">{{user.username}}<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
          <li><a href="{% url 'profile' user.username %}">Perfil</a></li>
          <li><a href="{% url 'salir' %}">Cerrar Sesión</a></li>
      </ul>
    </li>
</ul>
{% endblock %}


{% block menu %}
<aside>
    <nav class="navbar    col-sm-3 ">
        <section class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </section>
        <section class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav  navbar-nav navbar-vertical-align ">
                <li class="lititle active col-sm-12"><a href="#"><span class="glyphicon glyphicon-list-alt"></span>  Preguntas</a></li>
                <li class="col-sm-12"><a href="{% url 'questions:question_change_list' %}" class="menu-option"><span class="glyphicon glyphicon-list-alt"></span > Mis Preguntas</a></li>
                <li class="col-sm-12"><a href="{% url 'questions:question_filter' 'Borrador' %}" class="menu-option"><span class="glyphicon glyphicon-inbox"></span> Borrador</a></li>
                <li class="col-sm-12"><a href="{% url 'questions:question_add' %}" class="menu-option"><span class="glyphicon glyphicon-plus"></span>  Crear Pregunta </a></li>
                <li class="col-sm-12"><a href="{% url 'questions:question_filter' 'Por Corregir' %}" class="menu-option"><span class="glyphicon glyphicon-pencil"></span>  Corregir Preguntas <span class="badge">{{counts.PC}}</span></a></li>
            </ul>
        </section>
    </nav>
</aside>
{% endblock %}

{% block content %}
{% endblock %}

