{% extends 'FundamentosPlay/base_account.html' %}
{% load static %}


<!-- Scripts -->
{% block scripts %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="{% static 'js/profesor.js' %}"></script>
{% endblock %}

{% block dropdown %}
<ul class="nav navbar-nav navbar-right nav-var-username">
    <li class="dropdown">
      <a href="#" id="dropdown_username" class="dropdown-toggle" data-toggle="dropdown">{{user.username}}<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
          <li><a href="{% url 'profile' user.username %}">Perfil</a></li>
          <li><a href="{% url 'salir' %}">Cerrar Sesión</a></li>
      </ul>
    </li>
</ul>
{% endblock %}


<!----- Menu----->
{% block menu %}
<aside>
    <nav class="navbar    col-sm-3 ">
        <section class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </section>
        <section class="collapse navbar-collapse" id="myNavbar">


            <ul class="nav navbar-nav navbar-vertical-align">
                <li class="lititle active col-sm-12" ><a href="#"><span class="glyphicon glyphicon-user"></span>  Usuarios</a></li>
                <li class="col-sm-12"><a href="{% url 'administrator:user_list' %}" class="menu-option"><span class="glyphicon glyphicon-list-alt"></span > Lista de Usuarios</a></li>
                <li class="col-sm-12"><a href="{% url 'administrator:create_teacher' %}" class="menu-option"><span class="glyphicon glyphicon-user"></span>  Crear Profesor</a></li>
                <li class="col-sm-12"><a href="{% url 'administrator:create_assistant' %}" class="menu-option"><span class="glyphicon glyphicon-user"></span>  Crear Ayudante</a></li>

            </ul>

            <ul class="nav  navbar-nav navbar-vertical-align ">
                <li class="lititle active col-sm-12"><a href="#"><span class="glyphicon glyphicon-list-alt"></span>  Preguntas</a></li>
                <li class="col-sm-12"><a href="{% url 'administrator:question_list' %}" class="menu-option"><span class="glyphicon glyphicon-list-alt"></span > Lista de Preguntas</a></li>

            </ul>



        </section>
    </nav>
</aside>

{% endblock %}


<!-- contenido---->
{% block content %}
{% endblock %}

