{% extends 'FundamentosPlay/administrator/administrator.html' %}
{% load crispy_forms_tags %}

{% block content %}


  <h2 class="mb-3">Crear Ayudante</h2>
  <form method="post" action="{% url 'administrator:create_assistant' %}" id="form">
  {% csrf_token %}
    {{form|crispy}}

     <button type="submit" class="btn btn-primary" style="float: right;">Crear</button>
  </form>



{% endblock %}










