{% extends 'FundamentosPlay/administrator/administrator.html' %}
{% load static %}



<!-- Scripts -->
{% block scripts %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<script src="{% static 'js/datatables.js' %}"></script>
{% endblock %}


{% block content %}

<h2 class="mb-3">Preguntas</h2>

    <section class="badge-tire container-fluid">
        <h4 class="tag">
            <span><a  href="{% url 'questions:question_filter' 'Aprobada' %}">Aprobadas</a></span>
            <span class="badge badge-primary" style="background-color: green; ">{{counts.AP}}</span>
        </h4>
        <h4 class="tag">
            <span><a  href="{% url 'questions:question_filter' 'Por Aprobar' %}">Por Aprobar</a></span>
            <span class="badge badge-primary" style="background-color: blue; ">{{counts.PA}}</span>
        </h4>
        <h4 class="tag">
            <span><a  href="{% url 'questions:question_filter' 'Por Corregir' %}">Por Corregir</a></span>
            <span class="badge badge-primary" style="background-color: red; ">{{counts.PC}}</span>
        </h4>
        <h4 class="tag">
            <span><a  href="{% url 'questions:question_filter' 'Borrador' %}">Borrador</a></span>
            <span class="badge badge-primary" >{{counts.BD}}</span>
        </h4>
    </section>
    <br>

    <div class="card">

        <div class="table-responsive ">
            <table id="table" class="table mb-0 display">
                <thead  class="thead thead-light">
                      <tr>
                        <th>Contenido</th>
                        <th>Nivel</th>
                        <th>Dificultad</th>
                        <th>Fecha</th>
                        <th>Creador</th>
                        <th>Revisor</th>
                        <th>Estado</th>
                      </tr>
                </thead>
                <tbody>
                  {% for question in questions %}
                     {% if question.state == "Aprobada" %}
                        <tr class="success">
                     {% elif question.state == "Por Corregir" %}
                        <tr class="danger">
                     {% elif question.state == "Por Aprobar" %}
                        <tr class="info">
                     {% elif question.state == "Borrador" %}
                        <tr class="active">
                      {% endif %}
                      <td class="align-middle"><a href="{% url 'administrator:question_change' question.pk %}">{{ question }}</a></td>
                      <td class="align-middle">{{ question.level}}</td>
                      <td class="align-middle">{{ question.Dificultad }}</td>
                      <td class="align-middle">{{ question.fecha}}</td>
                      <td class="align-middle">{{ question.owner}}</td>
                      <td class="align-middle">{{ question.revisor }}</td>
                      <td class="align-middle">{{ question.get_html_badge}}</td>

                    </tr>
                  {% empty %}
                    <tr>
                      <td class="bg-light text-center font-italic" colspan="12">No se han creado preguntas.</td>
                    </tr>
                  {% endfor %}
                </tbody>
          </table>
        </div>


    </div>


{% endblock %}
