{% extends 'FundamentosPlay/administrator/administrator.html' %}
{% load static %}

<!-- Scripts -->
{% block scripts %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<script src="{% static 'js/datatables.js' %}"></script>
{% endblock %}


{% block content %}
<h2 class="mb-3">Usuarios</h2>

    <div class="card">
        <div class="table-responsive">
            <table id="table" class="table mb-0 display">
                <thead  class="thead thead-light">
                    <tr>
                        <th>Usuario</th>
                        <th>Rol</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                  {% for user in users %}
                     {% if user.is_active %}
                        <tr>
                     {% else %}
                        <tr class="danger">
                      {% endif %}

                      <td class="align-middle"><a href="{% url 'profile' user.username %}">{{ user.username }}</a></td>

                        {% if user.is_teacher %}
                            <td class="align-middle">Profesor</td>
                        {% elif user.is_assistant %}
                            <td class="align-middle">Ayudante</td>
                        {% elif user.is_student %}
                            <td class="align-middle">Estudiante</td>
                        {% endif %}

                        <td class="align-middle">{{ user.first_name}}</td>
                        <td class="align-middle">{{ user.last_name }}</td>
                        <td class="align-middle">{{ user.email }}</td>

                          {% if user.is_active %}
                            <td class="align-middle">Activo</td>
                         {% else %}
                            <td class="align-middle">Deshabilitado</td>
                          {% endif %}
                    </tr>
                  {% empty %}
                    <tr>
                      <td class="bg-light text-center font-italic" colspan="5">No hay usuarios registrados.</td>
                    </tr>
                  {% endfor %}
                </tbody>
          </table>
        </div>


    </div>


{% endblock %}
