{% extends 'FundamentosPlay/base_account.html' %}
{% load static %}
{% block menu %}
    <ul class="nav  navbar-nav navbar-vertical-align ">
        <li class="lititle active col-sm-12"><a href="#"><span class="glyphicon glyphicon-stats"></span>  Avances</a></li>
        <li class="col-sm-12"><a href="{% url 'profile' usuario.username %}" class="menu-option"><span class="glyphicon glyphicon-stats"></span > Mis Avances</a></li>

    </ul>

{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/profesor.js' %}"></script>
{% endblock %}
